.content{
    background-color: bisque;
    
ul{
    justify-content: right;


    li{
        list-style: none;
        padding: 20px;
    }
}

   
//    .form-check-input{
//     background-color: black;
//    }
   .col-md-4{
  
    justify-content: left;
   }
   
}

