<div class="cont justify-content-center align-items-center">
  <div class="container mt-5 shadow-lg p-3 mb-5 rounded">
    <form [formGroup]="formlogin" (submit)="onRegister()">
      <div class="row">
        <div class="text-center">
          <h2>انشاء حساب جديد</h2>
        </div>

        <div class="col-md-6 col-sm-12 text-end">
          <label for="">اسم المستخدم</label>
          <input
            type="text"
            name="username"
            formControlName="username"
            class="form-control"
          />
        </div>

        <div class="col-sm-12 col-md-6 mb-5 text-end">
          <label for="form-control">البريد الالكتروني </label>
          <input
            type="text"
            name="email"
            formControlName="email"
            class="form-control"
          />
        </div>

        <div class="col-md-6 col-sm-12 mb-5 text-end">
          <label for="" class="text-end"> كلمة المرور</label>
          <input
            type="password"
            name="password"
            formControlName="password"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-6 col-sm-12 text-end">
          <label for="">تاكيد كلمة المرور</label>
          <input
            type="text"
            name="confirmpassword"
            formControlName="confirmpassword"
            class="form-control"
          />
        </div>

        <div class="col-md-6 col-sm-12">
          <button
            class="btn btn-outline-success sucess form-control"
            [disabled]="formlogin.invalid ||(formlogin.value.password !=formlogin.value.confirmpassword)"
          >
            حفظ
          </button>
        </div>

        <div class="col-md-4 col-sm-12 me-5">
          <a routerLink="/login">انا امتلك حساب مسبق</a>
        </div>
      </div>
    </form>
  </div>
</div>
