.container{

    background-color: bisque;
    width: 600px;
max-width: 600px;
    .texthead{
       border-right: 4px solid black;
    }
   
    input{
        background-color: antiquewhite;
        text-align: right;
    }
}
